<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="EmployeeDB" connectionString="metadata=res://*/entity.DatabaseContext.csdl|res://*/entity.DatabaseContext.ssdl|res://*/entity.DatabaseContext.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=.\sqlexpress;Initial Catalog=test_EmployeeInfo_SK_4_0;Integrated Security=True;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>